* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container1 {
    background-color: rgb(255, 0, 89);
    width: 100%;
    margin-bottom: 30px;
}

.head {
    color: white;
}

h1 {
    padding: 12px;
    margin: 0px 0px 16px;
}

.col {
    max-width: 60%;
}

.content {
    display: grid;
    grid-template-columns: auto auto auto;
}

.content > .col {
    margin-right: 20px;
    margin-left: 10px;
}

p{
    color: white;
    font-size: 20px;
}

.return a {
    background-color: pink;
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}